<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

  {% include 'tienda/navbar.html' %}

  <div class="container mt-4">
    {% block content %}
    <div class="jumbotron">
      <h1 class="display-4">¡Bienvenido a E-COMMERCE!</h1>
      <p class="lead">La aplicación E-COMMERCE facilita la compra y venta de productos entre usuarios registrados. Publica tus artículos y permite que otros usuarios los compren.</p>
      <hr class="my-4">
    </div>
    {% endblock %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
