<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Formularios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'tienda/navbar.html' %}
    <div class="container mt-5">
        <h1>Formularios Pendientes de Aprobación</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Nombre Producto</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.titulo }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.fecha|date:"d/m/Y H:i" }}</td>
                    <td>{{ producto.usuario.username }}</td>
                    <td>
                        {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" alt="{{ producto.titulo }}" style="max-width: 150px;">
                        {% else %}
                        <p>Sin Imagen</p>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'tienda:aceptar_producto' producto.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Aceptar</button>
                        </form>
                        <form action="{% url 'tienda:eliminar_producto' producto.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>







